@import "constants"
@import "checkbox"
@import "toggle"
@import "registration_form"
@import "constants"
@import "field_view"

.title
  left: 93px
  padding-top: 120px
  /*font-family: Input Mono, monospace;
  font-size: 36px
  font-weight: bold
  /*line-height: 58px;
  color: $color-primary

.description
  margin: 80px auto
  line-height: normal
  font-size: 36px
  color: $color-secondary

button
  width: 250px
  @include tall
  background: #0941BA
  font-size: 27px
  color: #FFFFFF
  margin: 20px 0
  &:disabled
    background: rgba($color-primary, 0.3)

.error
  display: flex
  align-items: center
  justify-content: center
  padding: 4px 0
  font-size: 13px
  color: #CC3363
  width: $wide
  background: rgba(204, 51, 99, 0.1)
  height: 32px


.form
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  input[type=text], input[type=password]
    @include wide
    @include field
  label:first-child
    margin-bottom: 80px
  button
    @include wide
    margin-bottom: 0
  > .error
    height: $tall
    font-size: 16px
