@import "constants"
@import "checkbox"
@import "toggle"
@import "field_view"
@import "form"
@import "skillset"

button
  @include tall
  background: #0941BA
  color: #FFFFFF
  margin: 20px 0
  min-width: $wide / 2
  &:disabled
    background: rgba($color-primary, 0.3)

.row
  display: flex
  flex-direction: row
  align-items: center
  width: 100%

.column
  display: flex
  flex-direction: column
  align-items: center

.field-specs
  @extend .column
  .row
    > div
      width: 50%
      font-size: 16px
    align-items: flex-start
    margin: 4px 0

.to-left
  float: left

.title
  left: 93px
  padding-top: 120px
  /*font-family: Input Mono, monospace;
  font-size: 36px
  font-weight: bold
  /*line-height: 58px;
  color: $color-primary

.description
  margin: 80px auto
  line-height: normal
  font-size: 36px
  color: $color-secondary

.error
  display: flex
  align-items: center
  justify-content: center
  padding: 4px 0
  font-size: 13px
  color: #CC3363
  width: $wide
  background: rgba(204, 51, 99, 0.1)
  height: 32px

.disabled
  background: $color-disabled
  color: #000000
