@import "constants"
.post_container
  display: block
  margin: 0
  background-color: #e9ecee
  padding: 100px
  input
    padding-left: 0
    width: 95%
    padding-top: 0
    padding-bottom: 20%
    margin: 0
    position: relative

.buttons
  button
    margin: 10px
    margin-right: 3%
  display: flex
  flex-direction: row
  justify-content: right




.NewPost
  margin: 0 400px
  padding-top: 30px

.FeedPost
  background-color: #90e3ff
