.col
  img
    border: 1px solid black
    width: 200px
    height: 200px
    margin-right: 50px

.profile
  //margin: 0 400px
  margin-top: 20px
  padding-top: 30px
  background-color: #e9ecee
  display: block
  padding: 5%
  font-size-adjust: inherit
  font-size: 2rem
  //width: 50%
  align-content: center
  width: 100%

.skills
  color: #000000
  padding-top: 30px
  background-color: #90e3ff
  margin-top: 20px
  display: block
  padding: 5%
  font-size-adjust: inherit
  font-size: 2rem
  align-content: center
  width: 100%

.currentwork
  color: #FFFFFF
  padding-top: 30px
  background-color: #0941BA
  margin-top: 20px
  display: block
  padding: 5%
  font-size-adjust: inherit
  font-size: 2rem
  align-content: center
  width: 100%


.col1
  margin-right: 100px

.col2
  margin-left: 100px

.col3
  margin-right: 350px

.col4