@import "checkbox"

/* HireMe.kz
$checkbox-width: 18px

.title
  left: 93px
  padding-top: 120px
  /*font-family: Input Mono, monospace;
  font-size: 48px
  font-weight: bold
  /*line-height: 58px;
  color: #0941BA

.description
  margin: 80px auto
  line-height: normal
  font-size: 36px
  color: #CC3363

button
  width: 250px
  height: 60px
  background: #0941BA
  font-size: 36px
  color: #FFFFFF
  margin: 25px 0

@mixin wide
  width: 520px

@mixin field
  height: 60px
  background: #E5E5E5
  margin: 15px 0
  color: #6E6E6E
  border: 0
  text-align: center

.form
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  input[type=text], input[type=password], button
    @include wide
  input[type=text], input[type=password]
    @include field
  label:first-child
    margin-bottom: 80px

