@import "constants"

.job-card
  //border: 1px $color-secondary solid
  margin: 8px 8px 20px
  .job-role
    font-size: 22px
    font-weight: bold
  .job-responsibilities
    font-size: 16px
    font-style: italic

.job-skillset
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin: 10px 0

.skill
  font-size: 14px
  background: $color-primary
  color: #FFFFFF
  padding: 4px 8px
  margin: 0 8px

.disabled
  background: $color-disabled
  color: #000000
