.post-card
  background: #EBE5DE
  border: #000000 1px solid
  display: flex
  margin: 22px 0
  padding: 40px
  flex-direction: column
  .post-content
    margin: 22px 0
    font-size: 22px
  .author-title
    text-align: center
    font-weight: bold
    font-size: 22px
    color: #0941BA
