.post-card
  background: #EBF5DF
  border: #000000 1px solid
  display: flex
  margin: 22px 0
  padding: 40px
  flex-direction: column
  .post-title
    font-size: 24px
    margin: 0
    font-weight: bold
  .post-content
    font-size: 17px
    margin: 22px 0
